<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title><%= meta.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="description" content="<%= meta.description %>">
    <meta name="keywords" content="">
    <!-- ogp -->
    <meta property="og:title" content="<%= meta.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<%= path %>images/common/opg-img.jpg" />
    <meta property="og:description" content="<%= meta.description %>" />
    <meta name="twitter:card" content="Summary with Large Image" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="ROBOTS" content="NOODP" />
    <link rel="canonical" href="https://example.com/<%= meta.dir %>">
    <link rel="dns-prefetch" href="//example.com/">
    <link rel="preconnect" href="//example.com/">
    <link rel="prefetch" href="<%= path %>css/style.min.css">
    <link rel="prefetch" href="<%= path %>js/script.min.js">
    <!-- css -->
    <link rel="stylesheet" href="<%= path %>css/style.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= path %>images/common/favicon16×16.ico">
    <link rel="shortcut icon" type="image/x-icon" href="<%= path %>images/common/favicon32×32.ico">
    <link rel="shortcut icon" type="image/x-icon" href="<%= path %>images/common/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= path %>images/common/apple-touch-icon.png">
</head>
<body ontouchstart="">
<header class="l-header">
    <div class="l-header__wrapper" id="js-nav">
        <nav class="l-header__nav">
            <ul>
                <li class="only-sp">
                    <a href="" class="link js-stick-link">
                        <!-- <i class="fa-solid fa-house"></i> -->
                        <span>🏠</span>
                        Home
                    </a>
                </li>
                <li>
                    <a href="" class="js-stick-link">
                        <!-- <i class="fa-solid fa-person"></i> -->
                        <span>👩‍💻</span>
                        About
                    </a>
                </li>
                <li>
                    <a href="" class="js-stick-link">
                        <!-- <i class="fa-regular fa-lightbulb"></i> -->
                        <span>💡</span>
                        Work
                    </a>
                </li>
                <li>
                    <a href="<%= path %>images/index/resume.pdf" class="js-stick-link" target="_blank" rel="noopener">
                        <!-- <i class="fa-regular fa-address-card"></i> -->
                        <span>📄</span>
                        Resume
                    </a>
                </li>
                <li>
                    <a href="" class="js-stick-link">
                        <!-- <i class="fa-regular fa-paper-plane"></i> -->
                        <span>📮</span>
                        Contact
                    </a>
                </li>
            </ul>
        </nav>
        <label class="l-header__toggle" id="js-toggle">
            <input id="toggle" class="toggle_input" type='checkbox' />
        </label>
    </div>
    <div class="l-header__ham js-stick-link" id="js-ham">
        <span class="l-header__ham__border js-stick-link"></span>
    </div>
    <span class="ham_circle" id="js-ham-bg"></span>
</header>
<div class="c-top-button js-stick-link" id="js-top-button">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120" width="120" height="120" preserveAspectRatio="xMidYMid meet" style="width: 100%; height: 100%; transform: translate3d(0px, 0px, 0px);"><defs><clipPath id="__lottie_element_6"><rect width="120" height="120" x="0" y="0"></rect></clipPath></defs><g clip-path="url(#__lottie_element_6)"><g transform="matrix(1,0,0,1,59.887001037597656,60.80799865722656)" opacity="1" style="display: block;"><g opacity="1" transform="matrix(1.0324599742889404,0,0,1.0324599742889404,0.11299999803304672,-0.8080000281333923)"><path stroke-linecap="round" stroke-linejoin="miter" fill-opacity="0" stroke-miterlimit="4" stroke="rgb(168,244,225)" stroke-opacity="1" stroke-width="10" d=" M0,-51.62200164794922 C28.510000228881836,-51.62200164794922 51.62200164794922,-28.510000228881836 51.62200164794922,0 C51.62200164794922,28.510000228881836 28.510000228881836,51.62200164794922 0,51.62200164794922 C-28.510000228881836,51.62200164794922 -51.62200164794922,28.510000228881836 -51.62200164794922,0 C-51.62200164794922,-28.43899917602539 -28.624000549316406,-51.50699996948242 -0.21199999749660492,-51.62099838256836 C-0.14100000262260437,-51.62099838256836 -0.07100000232458115,-51.62200164794922 0,-51.62200164794922z"></path></g></g></g></svg>
</div>