<%
    page = 'top'
    path = '/'
%>
<%-
    include('./layout/_head', {
        meta: pageData['top']
    });
%>
        <main>
            <section class="pg-index-main">
                <h1 class="u-width-960">Hi! I'm Nao.<br>
                I build things for the web</h1>
                <div class="particle-wrapper" id="js-particle-wrapper">
                    <div class="particle particle-8"></div>
                    <div class="particle particle-7"></div>
                    <div class="particle particle-6"></div>
                    <div class="particle particle-5"></div>
                    <div class="particle particle-4"></div>
                    <div class="particle particle-3"></div>
                    <div class="particle particle-2"></div>
                    <div class="particle particle-1"></div>
                </div>
            </section>
            <section class="pg-index-about">

            </section>
            <section class="pg-index-works u-width-960">
                <div class="works-card">
                    <div class="works-card__wrapper">
                        <img src="<%= path %>images/index/img.png" alt="">
                    </div>
                    <a href="" class="c-all-link"></a>
                </div>
                <div class="works-card">
                    <div class="works-card__wrapper">
                        <img src="<%= path %>images/index/img.png" alt="">
                    </div>
                    <a href="" class="c-all-link"></a>
                </div>
                <div class="works-card">
                    <div class="works-card__wrapper">
                        <img src="<%= path %>images/index/img.png" alt="">
                    </div>
                    <a href="" class="c-all-link"></a>
                </div>
                <div class="works-card">
                    <div class="works-card__wrapper">
                        <img src="<%= path %>images/index/img.png" alt="">
                    </div>
                    <a href="" class="c-all-link"></a>
                </div>
            </section>
            <section class="pg-index-horizontal">
                <div class="hor-wrapper">
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>

                </div>
                <div class="hor-wrapper">
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>
                    <div class="hor-wrapper__card">
                        <div class="img_wrapper">
                            <img src="<%= path %>images/index/img.png" alt="">
                        </div>
                    </div>

                </div>

            </section>

            <section class="pg-index-skill">
                <div>
                    
                </div>
            </section>
        </main>
<%-
    include('./layout/_footer', {
        meta: pageData['top']
    });
%>